@import "react-datepicker/dist/react-datepicker.css";
@import "react-toastify/dist/ReactToastify.css";
@import "./variables.scss";
@import "./lightDark.scss";

:root,
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
}

p {
  cursor: default;
}

.appButton {
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  letter-spacing: 0.15ch;
}

select {
  border: none;
  background-color: transparent;
  width: fit-content;
  font-size: inherit;
  color: inherit !important;

  &:focus {
    outline: none;
  }
}

h1 {
  font-weight: 800;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

p {
  font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
datalist,
details {
  color: inherit;
}

input {
  border-radius: 1em;
  padding: 0.4em 0.8em;
}

select,
input,
datalist,
details {
  width: 100%;
  height: 100%;
}

label,
select {
  font-weight: bold;
}

.chart {
  aspect-ratio: 1;
  width: 800px;
  min-width: 100%;
}
