.selectStat {
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
}

.sections {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  min-width: 100%;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
}

.sectionsCharts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  place-content: center;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
}
