.navbar {
  display: flex;
  font-size: 18px;
}

.navbar ul {
  display: flex;
  width: 100%;
  gap: 1rem;
  place-items: center;
  place-content: space-between;
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 18px;
}

.balanceText {
  font-size: 30px;
}
